version = "1.0"

[main]
name = "HedgeDoc configuration"

    [main.config]
    name = "Configuration Options"

        [main.config.allow_anonymous]
        ask = "Allow anonymous usage"
        type = "boolean"
        yes = "true"
        no = "false"
        help = "Set to allow anonymous usage (default is true)."
        bind = "allow_anonymous:__FINALPATH__/config.json"

        [main.config.allow_email_registration]
        ask = "Allow email registration"
        type = "boolean"
        yes = "true"
        no = "false"
        help = "Set to allow registration of new accounts using an email address. If set to false, you can still create accounts using the command line."
        bind = "allow_email_registration:__FINALPATH__/config.json"

