[Unit]
Description=HedgeDoc: collaborative Markdown notes
Documentation=https://github.com/hedgedoc/hedgedoc
After=network.target postgresql.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
Environment="NODE_ENV=production"
ExecStart=__YNH_NPM__ start --production
Restart=always
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
